/* RESPONSIVIDADE COM MOBILE FIRST*/


/* Tela largura 320px*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&display=swap');



* {
    margin: 0;
}



 



#inicio {
    justify-content:space-between;
    width: 100%;
    display: flex;
    padding: 15px 0px 15px 0px;
}

.lupa, .logo {
    display: flex;

}

.logo i {
    font-size:26px;
    width:18px;
    color: #f44336;
    padding-left: 15px;
}

.logo h1 {
    font-family: 'Raleway', sans-serif;
    color: #f44336;
    padding-left: 15px;
}

.lupa {
    
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 15px;

    font-size:26px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.521) ;
}


/*-------------------------------------------------------*/

#menu {
    width: 100%;
    
}

#lista-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 0px;
    
    list-style: none;
    background-color: black;
    
}

#lista-menu li {
    display: flex;
 
    color: white;
    padding: 10px 14px;
}


#lista-menu li p {
    padding-left: 20px;
}


#lista-menu li:hover {
    background-color: #f44336;
}

/*-------------------------------------------------------*/

#rota {
    padding: 15px;
}

#rota div h1 {
    padding: 20px 0px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

#rota div p {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 15px;
    margin-bottom: 5px;
}

.form {
    width: 90%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.247);
    margin-bottom: 15px;
}


.rbotao {
    width: 60%;
    padding: 10px;
    margin-bottom: 15px;
    color: white;
    background-color: rgba(0, 0, 0, 0.562);
    border: none;
    cursor: pointer;
}


/*-------------------------------------------------------*/


#paises {
    padding: 20px;
    padding-top: 80px;
    background-color: rgb(241, 241, 241);
}




#paises div h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    padding-bottom: 17px;
}

.ptitulo {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 15px;
    padding-bottom: 17px;
}

strong {
    font-weight: bold;
}

#paises div img {
    width: 100%;
    padding-bottom: 20px;
    
    
}

article {
    position: relative;
    
}

.txt {
    width: 100%;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-46%, -50%);
    z-index: 1;
    color: white;
    text-align: left;
    
}


/*-------------------------------------------------------*/

#paises div aside {
    background-color: white;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.096);
}


aside div {
    padding: 0px 20px;
    padding-bottom: 30px;
    margin-bottom: 18px;
}
.pdesc {
    font-family: 'Raleway', sans-serif;
    color: rgba(0, 0, 0, 0.623);
    margin-bottom: 15px;
    font-size: 12px;
}

.ptxt {
    width: 90%;
    color: black;
    font-family: 'Raleway', sans-serif;
    
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 30px;
}

.plink {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 14px;
    padding-left: 15px;
    margin-bottom: 30px;
}


/*-------------------------------------------------------*/


#ofertas div {
    padding: 20px;
    background-color: #606060;
    margin-bottom: 32px;
}

#ofertas div h1 {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 28px;
    padding-bottom: 8px;
}

#ofertas div p {
    padding-top: 15px;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 14px;
}

#newsletter{
    margin-top: 2px;
    padding: 10px;
    width: 92%;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.096);
    margin-bottom: 16px;
}

#newsletter::placeholder {
    color: rgba(0, 0, 0, 0.384);
}

.obotao {
    background-color: #F38981;
    color: white;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.096);

    width: 40%;
    padding: 8px;
}


/*-------------------------------------------------------*/



#contatos div h1{
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
}

#contatos div h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 15px;
    margin-bottom: 30px;
}


.ccontatos {
    display: flex;
    margin-bottom: 25px;
}


.i {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 7px;
    
}

.p {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 18px;
    grid-gap: 7px;
}

.cform {
    width: 90%;
    padding: 15px 10px;
    margin-bottom: 15px;
    border: 1px solid rgba(0, 0, 0, 0.13);
}


.cbotao {
   background-color: black;
   border:none;
   width: 56%;
   padding: 15px 10px;
   color: white;
   text-transform: uppercase;
    margin-bottom: 15px;
}


/*-------------------------------------------------------*/


#rodape {
    background-color: rgb(241, 241, 241);
}

#rodape div h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #9c9c9c;
    margin-bottom: 28px;
}

#rodape div ul {
    
    display: flex;
    justify-content:center;
    padding: 0px 90px;
}

.rlista {
    list-style: none;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.562);
    padding-left: 8px;
}

#rodape div p {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #9c9c9c;
    padding-top: 33px;
    padding-bottom: 18px;
}

.vini {
    font-weight: 500;
    text-decoration:underline;
}